* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 50px;
}
.info{
    background-color: #cceefc;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 5px;
}
.info--h1{
    /* color: #ffff; */
    font-size: 25px;
    align-self: center;
}
.info > button{
    font-size: 14px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin: 20px;
}