.listItem {
    padding: 5px 0;
}

.listItem p {
    margin: 0;
}

.card {
    width: 100%;
}

.card>div:first-child {
    padding: 10px 5px;
}

.card_errorType {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-column-gap: 10px;
    grid-auto-rows: 50px;
}

.card_errorType>* {
    padding: 0 5px;
    display: grid;
    grid-template-columns: minmax(100px,300px) 1fr;
    justify-content: center;
    align-items: center;
}
.card_errorType>div:nth-child(2){
    grid-template-columns: 1fr minmax(100px,200px);
}

.card_errorType>div:last-of-type>div:first-of-type {
    color: red;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
}

.first_box {
    display: flex;
    justify-self: normal;
}

.first_box>*:not(:first-child) {
    padding: 0 5px;
}
.four_box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.redColor{
    color: red;
}