.sider {
    overflow: auto;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.content_wrapper {
    margin-left: 200px;
    min-height: 100vh;
}

.content_header {
    background-color: white;
    padding-left:5px;
    font-size: 18px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.content_header>* {
    padding: 5px;
    margin: 0;
}


.content {
    margin: 12px 16px ;
    overflow: initial;
}

@media(max-width:992px) {

    /* 主要是为了与antd响应 */
    .content_wrapper {
        margin-left: 100px;
    }
}